<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card *ngIf="!paymentDone">
    <ion-card-header>
      <ion-card-title>Total to pay : {{amountToPay | currency}}</ion-card-title>
      <ion-card-subtitle>Scan code below</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <qrcode [qrdata]="qrCodeData" [size]="256" [level]="'M'"></qrcode>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="paymentDone">
    <ion-card-header>
      <ion-card-title>Payment done</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <valid-checkbox></valid-checkbox>

      <ion-button expand="block" (click)="nextCustomer()">Next customer</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>