<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Current cart
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  {{data}}

  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <ion-item>
        <ion-avatar slot="start">
          <img [src]="item.image">
        </ion-avatar>
        <ion-label>
          <h2>{{item.name}}</h2>
          <p>
            <span>x{{item.quantity}}</span>
            <span>{{item.price | currency:'EUR'}}</span>
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-toolbar color="secondary" *ngIf="items?.length > 0">
      <ion-title>Total : {{totalPrice | currency:'EUR'}}</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="checkout()">Checkout</ion-button>
      </ion-buttons>
    </ion-toolbar>

    <p *ngIf="!items || items.length == 0">Empty</p>
  </ion-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click)="scanCode()">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>