<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Family dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar class="welcome-message">
  <ion-title>
    <h4>
      <p>Hello Razvan</p>
      <div class="avatar-holder">
        <img class="avatar" src="assets/razvan.png" />
      </div>
    </h4>
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-content class="account-info">
      <ion-grid>
        <ion-row>
          <ion-col class="centered text">
            <ion-list-header class="ion-justify-content-center header-text">Current Balance</ion-list-header>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="centered amount accent">
            <div>${{balance | number:'1.2-2'}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-list-header class="ion-justify-content-center header-text">Expense History</ion-list-header>
    <ion-card-content class="account-chart">
      <canvas #lineCanvas height="180"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header class="expenses-header header-text">Family Ring</ion-list-header>
        <ion-row *ngFor="let kid of kidBalanceList" class="transaction-row" (click)="displayTransactions('Francine')">
          <ion-col size="2">
            <ion-avatar class="kid-avatar">
              <img class="avatar" src="assets/{{kid.name.toLowerCase()}}.png" />
            </ion-avatar>
          </ion-col>
          <ion-col class="kid-info">
            <div class="kid-amounts">
              <p class="transaction-font">{{kid.name}}&nbsp;&nbsp;{{kid.pct | number:'1.2-2' }}%</p>
              <p class="transaction-font">${{kid.balance | number:'1.2-2' }}</p>
            </div>
            <ion-progress-bar class="transaction-progress-bar" color="primary" [value]="kid.pct/100"></ion-progress-bar>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="addChild()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>