<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Family Pay
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar class="welcome-message">
  <ion-title>
    <h4>
      <p>Hey Francine</p>
      <div class="avatar-holder">
        <img class="avatar" src="assets/francine.png" />
      </div>
    </h4>
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-list class="date-select-container">
    <ion-item>
      <ion-label class="date-select">Date</ion-label>
      <ion-select [(ngModel)]="date" (ngModelChange)="refreshData()" class="date-select">
        <ion-select-option *ngFor="let transaction of transactions">{{transaction.date}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content class="account-info">
      <ion-grid>
        <ion-row>
          <ion-col class="centered text">
            <div>You have</div>
          </ion-col>
          <div class="vertical-line"></div>
          <ion-col class="centered text">
            <div>You spent</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="centered amount accent">
            <div>${{balance | number:'1.2-2'}}</div>
          </ion-col>
          <div class="vertical-line"></div>
          <ion-col class="centered amount small">
            <div>${{total | number:'1.2-2'}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <canvas #doughnutCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-list-header class="expenses-header">Expenses</ion-list-header>
        <ion-row *ngFor="let transaction of labels" class="transaction-row">
          <ion-col size="1" class="category-avatar" ngClass="category-{{transaction.label | lowercase}}">
            <ion-icon [name]="mapCategoryToIonicIconName(transaction.label)"></ion-icon>
          </ion-col>
          <ion-col class="transaction-info">
            <div class="transaction-amounts">
              <p class="transaction-font">{{transaction.label}}&nbsp;&nbsp;{{transaction.pct}}%</p>
              <p class="transaction-font">${{transaction.amount | number:'1.2-2' }}</p>
            </div>
            <ion-progress-bar class="transaction-progress-bar" ngClass="category-{{transaction.label | lowercase}}" [value]="transaction.amount/100"></ion-progress-bar>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" (click)="scanCode()">
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>