ion-avatar {
  padding: 8px;

  &.category-house {
    background: #5bc1d7; // ocean
  }

  &.category-food {
    background: #d2d755; // lime
  }

  &.category-clothing {
    background: #694ed6; // violet
  }

  &.category-transportation {
    background: #c137a2; // fuchsia
  }

  &.category-donation {
    background: #f0b323; // gold
  }

  ion-icon {
    color: white;
    height: 100%;
    width: 100%;
  }
}

::ng-deep ion-label div{
  display: flex !important;
  justify-content: space-between;

  span {
    display: flex;
    flex-direction: column;

    p {
      text-transform: capitalize;
      color: #707070;
    }
  }
}